.wrap {
	display: grid;
	grid-auto-rows: min-content;
	gap: 0.5rem;
	font-size: var(--font-size-small);
}

.footer {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: start;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.error {
	color: var(--color-error);
}
